@import "../../../styles/settings";


.items-list{
  width: 100%;
  font-family: $font-stack;
  .solid{
    border-top: 0.5px solid #bbb;
    width: 75%;
    margin:0 5% 0 20%
  }
  .item{
    width: 100%;
    flex-direction:row;
    display: flex;
    cursor: pointer;
    .item-img {
      width:15%;
      img {
        margin: 0 10px;
        width: 100%;
        height: auto;
        position: relative;
      }
    }
    .item-detaill{
      width:85%;
      align-content: center;
      align-content: center;
      padding: 10px 30px 10px 10px;
      .main{
        flex-direction:row;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-content: center;
        .price{
          font-size: 22px;
          font-weight: 330;
        }
        .condition{
          font-size: 15px;
          font-weight: 300;
        }
      }
      .title{
        font-size: 20px;
        font-weight: 300;
      }
    }
  }
}


