
$white: #FFFFFF;
$primary-color: #FFF059;
$gray: #EBEBEB;
$black: #000000;
$orange: #FB7500;
$soft-orange: #c86a05;
$blue: #3483fa;
$soft-blue: #467BCD;
$font-stack: Helvetica, sans-serif;

//breakpoints
$breakpoint-xxs-min: 320px;
$breakpoint-xs-min: 414px;
$breakpoint-sm-min: 600px;
$breakpint-md-min: 768px;
$breakpoint-lg-min: 960px;
